/* TODO Not the exact colors*/
:root {
    --darkblue: #0A192F;
    --lightblue: #62F9D5;
    --white: #d8d8d8;
    --clearblue: #CCD6F6;
    --verydarkblue: #0B182D;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    background-color: var(--darkblue);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
}

#index_body{

    background-image: url('../../img/textura\ sem\ opacidade.png');
}

/* Research Page CSS Edition Style */

#research_body{
    background-color: #F9FBFF;
    background-image: url('../../img/oceano.png');
}

#horizontal_menu{
    padding-left: 2%;
    padding-top: 1%;
    margin: 0;
    width: 100%;
    background-color: #0A192F;
}

#TitlePage{

    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    position: center;
    padding-top: 150px;
    letter-spacing: 10px;
    width: 40%;
    word-break: break-all;

}

#r_background{

    padding-top: 25%; 

}

#Scroll_Text{

    margin: 0;
    padding-top: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 80rem;
    left: 100vw;
}

#Scroll_Div{


    margin: 0;
    padding: 0;
    height: 100vw;
    overflow-x: hidden;
}

/*END OF RESEARCH*/

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* TODO change color to work with any text */
::selection {
    background: var(--lightblue);
    text-shadow: none;
}

/* NAVIGATION BAR */
.logo {
    max-width: 7vw;
    max-height: 7vw;
	min-height: 6vw;
	min-width: 6vw;
	
}

.logo img {
    max-width: 6vw;
    max-width: 4vw;
}

nav {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    min-height: 10vh;
    z-index: 99;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: inherit;
}

.nav-links a {
    color: var(--lightblue);
}

.nav-links a:hover {
    color: var(--white);
}

.active-link {
    padding: 5px;
    border: 4px solid var(--lightblue);
}

.active-link:hover {
    border: 4px solid var(--white);
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 99;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--lightblue);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 90vh;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        background-color: #0A192F;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    #text-carousel-block{
        margin-top: 0;
    }
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.menu-line{
	height:3px;
	border:0;
	color: var(--lightblue) ;
	background-color: var(--lightblue) ;
    width: 0;
	animation: separator-width 1.5s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* End Navigation Bar*/


/* Start Intro Name and Description*/

#homepage {
    display: flex;
    margin:20vh 25vh 0vh 25vh;
}

.hello-container {
    color: var(--lightblue);
    width: 95vw;
    display: table-cell;
}

.side-container {
    background-color:#3B948C;
    width: 0.2vw;
    height: 1200px;
    margin-left: 10vw;
}

.dot-container{
    position: absolute;
    height: 100vh;
}

#hello-text{
    color: var(--lightblue);
    font-size: 2rem;
    margin: 10vh;
}

#hello-text h3{
    font-size: 2rem;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #62F9D5;
    border-radius: 50%;
    position: fixed;
}

.hello-container h3 {
    font-size: 1.3rem;
}

.name-info-container {
    color: var(--white);
    margin: 5vh 20vw 5vh 5vw;
}

.name-info-container h1 {
    font-size: 4rem;
    font-weight: 700;
}

.name-info-container > p {
    font-size: 0.7em;
    font-weight: 300;
}

#curly-bracket {
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    #homepage svg {
        display: none;
    }
}

/*Homepage Carousel*/


#carousel-image{
    background-image: url("../../img/1.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0A192F;
    background-size: contain;
}
#carousel-image:hover{
    cursor:pointer;
}

#carousel-text{
    background-color: #0A192F;
    font-size: 1rem;
    text-align: center;
    line-height: 18px;
    color: var(--white);
}
#carousel-text p{
    font-style: italic;
}
#text-carousel-block{
    margin-top: 10%;
}
#section-title-hp{
    color: #62F9D5;
    text-align: center;
    padding: 5%;
}
/* FOOTER */
/* Responsividade é sexy */

footer {
    background-color: var(--verydarkblue);
    color: var(--white);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding-bottom: 5vh;
}

.footer-logo {
    padding: 60px 0 60px 0;
}

.footer-contents {
    margin: 0 4vw 0 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-contents > div > h6 {
    padding-bottom: 8px;
    text-decoration: 2px underline;
    font-weight: bold;

}

.footer-contents > div > p {
    color: var(--lightblue);
}

.follow-me a {
    color: var(--lightblue);
}

.fab {
    padding-right: 5px;
}

@media screen and (max-width:699px) {
    .footer-contents > div {
        text-align: center;
        width: 100%;
    }
    .map div {
        margin: auto;
    }

    .footer-contents > div {
        margin-bottom: 5vh;

    }
}

/* END FOOTER */

/* Publications */

.timeline { 
    margin: 4em auto;
    position: relative;
    max-width: 46em;
    color: white;
}

.timeline::before {
    background-color: var(--white);
    content: "";
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover > .timeline-event-icon {
    transform: rotate(-45deg);
    background-color: var(--white);
}

.timeline-event:hover > .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 var(--white);
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 80%;
}

.timeline-event-copy > h3 {
    font-size: 1.75em;
}

.timeline-event-copy > h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy > strong {
    font-weight: 700;
}

.timeline-event-copy > p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    transition: 0.2s ease-in;
    transform: rotate(45deg);
    background-color: var(--white);
    outline: 5px solid var(--lightblue);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: -0.5em;
    width: 1em;
    height: 1em;
    margin-left: 0px;
}

.timeline-event-thumbnail {
    box-shadow: inset 0 0 0 0em;
    transition: box-shadow 0.5 ease-in 0.1s;
    color: var(--darkblue);
    font-size: 0.75em;
    background-color: var(--white);
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;

}
/* Main page Research END*/
.titleResearch {
    text-align: center;
    font-size: 2.5rem;
    color: var(--white);
    margin-top:5%;
}

.hr1 {
    color: white;
    opacity: 1;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 40%;
    margin-right: 40%;
    border-style: solid;
    border-width: 2px;
}

.hr2 {
    color: white;
    opacity: 1;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 35%;
    margin-right: 35%;
    border-style: solid;
    border-width: 2px;
}

.hr3 {
    color: white;
    opacity: 0;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.researchContainer {
    color: var(--white);
    margin: 5vh 10vw 5vh 10vw;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    display: inline-block;
}

.researchContainer h2 {
    font-size: 2rem;
}

    .researchContainer p {
        color: var(--white);
        margin: 5vh 40vw 5vh 5vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

.researchImg {
    float: right;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: -15rem;
    border: 5px solid white;
}

@media only screen and (max-width: 1050px) {
    .researchContainer p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg {
        float:inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 699px) {
    .researchContainer p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}


@media only screen and (max-width: 600px) {
    .researchImg {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 1rem;
    }
}


.researchContainer {
    color: var(--white);
    margin: 5vh 10vw 5vh 10vw;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    display: inline-block;
}

.researchContainer h2 {
    font-size: 2rem;
}

    .researchContainer p {
        color: var(--white);
        margin: 5vh 40vw 5vh 5vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

.researchImg {
    float: right;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: -15rem;
}

@media only screen and (max-width: 1050px) {
    .researchContainer p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg {
        float:inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 699px) {
    .researchContainer p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}


@media only screen and (max-width: 600px) {
    .researchImg {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 1rem;
    }
}

oooooooooooohhh  yeeaaaa

.researchContainer2 {
    color: var(--white);
    margin: 5vh 10vw 5vh 10vw;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    display: inline-block;
}

.researchContainer2 h2 {
    font-size: 2rem;
}

.researchContainer2 p {
    color: var(--white);
    margin: 5vh 5vw 5vh 40vw;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    display: inline-block;
}

.researchImg2 {
    float: left;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: -15rem;
    border: 5px solid white;
}

@media only screen and (max-width: 1050px) {
    .researchContainer2 p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg2 {
        float: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 699px) {
    .researchContainer2 p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}


@media only screen and (max-width: 600px) {
    .researchImg2 {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 1rem;
    }
}


.researchContainer2 {
    color: var(--white);
    margin: 5vh 10vw 5vh 10vw;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    display: inline-block;
}

    .researchContainer2 h2 {
        font-size: 2rem;
    }

    .researchContainer2 p {
        color: var(--white);
        margin: 5vh 5vw 5vh 40vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

.researchImg2 {
    float: left;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: -15rem;
}

@media only screen and (max-width: 1050px) {
    .researchContainer2 p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg2 {
        float: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 699px) {
    .researchContainer2 p {
        color: var(--white);
        margin: 5vh 1vw 5vh 1vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
    }

    .researchImg2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}


@media only screen and (max-width: 600px) {
    .researchImg2 {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 1rem;
    }
}

/* Main page Research END*/


/* Main page Teaching */
.titleTeaching {
    text-align: center;
    font-size: 2.5rem;
    color: var(--white);
    margin-top: 5rem;
}



.teachingContainer {
    color: var(--white);
    margin: 5vh 10vw 5vh 10vw;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    display: inline-block;
}

    .teachingContainer p {
        color: var(--white);
        margin: 1vh 10vw 5vh 10vw;
        text-align: justify;
        text-justify: inter-word;
        position: relative;
        display: inline-block;
        font-weight: 700;
    }

/* Main page Teaching END */

@media screen and (max-width:799px) {
    .timeline::before {
        display: none;
    }
    .timeline-event-icon { 
        display: none;
    }
}