/* TODO Not the right colors*/
:root {
    --darkblue: #0e1d2f;
    --lightblue: #3b8e81;
    --white: #d8d8d8;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--bs-font-sans-serif);
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    background-color: var(--darkblue);
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

::selection {
    background: var(--lightblue);
    text-shadow: none;
}

/* NAVIGATION BAR */

.logo {
    max-width: 7vw;
    max-height: 7vw;
	min-height: 6vw;
	min-width: 6vw;
	
}

.logo img {
    max-width: 6vw;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    min-height: 10vh;
    z-index: 99;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: inherit;
    background-color: var(--darkblue);
}

.nav-links a {
    color: var(--lightblue);
}

.nav-links a:hover {
    color: var(--white);
}

.active-link {
    padding: 5px;
    border: 4px solid var(--lightblue);
}

.active-link:hover {
    border: 4px solid var(--white);
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 99;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--lightblue);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.linhaMenu{
	height:3px;
	border:0;
	color: var(--lightblue) ;
	background-color: var(--lightblue) ;
	border-bottom: $separator-size $separator-border-style $separator-border-color;
    width: 0;
	animation: separator-width 1.5s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* End Navigation Bar*/


/* Start Intro Name and Description*/

.h2HomePage{
	color: var(--lightblue) ;
	margin-top:10rem;
	margin-bottom:.5rem;
	margin-left:2rem;
	font-family:var(--bs-font-sans-serif);
	font-weight:500;
	font-stretch: expanded;
	font-size:calc(20px + 4vw);
	
}

.texto1{
	color: white ;
	margin-left:2rem;
	margin-top:2rem;
	font-size:calc(12px + 1vw);
	margin-right:3rem;
	
	
}

.texto2{
	color: white ;
	margin-left:2rem;
	margin-top:1rem;
	font-size:calc(10px + .5vw);
	margin-right:3rem;
}

@media (min-width: 768px) {
  .intro-container2 {
    padding-left: 65px;
	margin-left: 5rem;
    margin-right: 6.5rem;
  }
  
@media (max-width: 991px) {
  .intro-container2 {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
.intro-container1{
	-ms-flex:0 0 50%;
	flex:0 0 50%;
	max-width:50%
	position:relative;
	width:100%;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	}
	


/* End Intro Name and Description*/


