:root {
  --darkblue: #0a192f;
  --lightblue: #62f9d5;
  --white: #d8d8d8;
  --clearblue: #ccd6f6;
  --verydarkblue: #0b182d;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;  
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--verydarkblue);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  background: whitesmoke; 
}
  
::-webkit-scrollbar-thumb {
  background: #0B182D; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* NAVIGATION BAR */
.logo {
  max-width: 7vw;
  max-height: 7vw;
  min-height: 6vw;
  min-width: 6vw;
}

.logo img {
  max-width: 6vw;
  max-width: 4vw;
}

nav {
  margin-top: 1.5vh;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  min-height: 10vh;
  z-index: 99;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  z-index: inherit;
}

.nav-links a {
  color: var(--lightblue);
}

.nav-links a:hover {
  color: var(--white);
}

.active-link {
  padding: 5px;
  border: 4px solid var(--lightblue);
}

.active-link:hover {
  border: 4px solid var(--white);
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 99;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--lightblue);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    background-color: #0a192f;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  #text-carousel-block {
    margin-top: 0;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* End Navigation Bar*/

/* FOOTER */

footer {
  background-color: var(--verydarkblue);
  color: var(--white);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding-bottom: 5vh;
}

.footer-logo {
  padding: 60px 0 60px 0;
}

.footer-contents {
  margin: 0 4vw 0 4vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-contents > div > h6 {
  padding-bottom: 8px;
  text-decoration: 2px underline;
  font-weight: bold;
}

.footer-contents > div > p {
  color: var(--lightblue);
}

.follow-me a {
  color: var(--lightblue);
}

.follow-me a:hover {
  color: var(--white);
}

.follow-me a:active {
  color: var(--lightblue);
}

.fab {
  padding-right: 5px;
}

@media screen and (max-width: 699px) {
  .footer-contents > div {
    text-align: center;
    width: 100%;
  }
  .map div {
    margin: auto;
  }

  .footer-contents > div {
    margin-bottom: 5vh;
  }
}

/* End FOOTER */

/* INDEX */

#index_body {
  background-image: url(../../img/textura\ sem\ opacidade.png);
}

#index_body main {
  margin-top: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}

.hello-container {
  color: var(--lightblue);
  width: 95vw;
  display: table-cell;
}

.dot-container {
  position: absolute;
  height: 100vh;
}

#hello-text {
  color: var(--lightblue);
  font-size: 2rem;
  margin: 10vh;
}

#hello-text h3 {
  font-size: 2rem;
}

.hello-container h3 {
  font-size: 1.3rem;
}

.name-info-container {
  color: var(--white);
  margin: 5vh 20vw 5vh 5vw;
}

.name-info-container h1 {
  font-size: 4rem;
  font-weight: 700;
}

.name-info-container > p {
  font-size: 1.2rem;
  font-weight: 300;
}

#curly-bracket {
  padding-left: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #62f9d5;
  border-radius: 50%;
  position: fixed;
}

#btn-cv {
  color: var(--darkblue);
  background-color: var(--lightblue);
  border: none;
  border-radius: 25px;
  padding: 8px 18px;
  line-height: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.index_teaching_container {
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  margin-top: -8vh;
  margin-bottom: 20vh;
}

.index_teaching_container a {
  color: var(--white);
}

.index_teaching_container a:hover {
  color: var(--lightblue);
}

.index_teaching_container a:active {
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .hello-container {
      width: 100vw;
  }

  .name-info-container {
    margin: 5vh 20vw 5vh 12vw;
  }

  .section-title-index {
    margin-bottom: 5vh;
  }

  .index_teaching_container {
    line-height: 40px;
  }
}

#carousel-image{
  background-image: url("../../img/1.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0A192F;
  background-size: contain;
}

#carousel-image:hover {
cursor: pointer;
}

#carousel-text {
background-color: #0a192f;
font-size: 1rem;
text-align: center;
line-height: 18px;
color: var(--white);
}

#carousel-text p {
font-style: italic;
}

#text-carousel-block {
margin-top: 10%;
}

.section-title-index{
  color: #62F9D5;
  text-align: center;
  padding: 5%;
  margin-top: 5vh;
}

.index_research_container {
  color: var(--white);
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
}

.index_research_container h1 {
  padding-bottom: 15px;
}

.index_research_container h2 {
  padding-bottom: 10px;
}

.index_research_container p {
  text-align: justify;
  line-height: 27px;
}

.research_text_bold {
  font-weight: 700;
}

.research_logo {
  width: 4%;
  padding-right: 15px;
}

@media screen and (max-width: 999px) {
  .research_logo {
    width: 20%;
  }
}

/* End INDEX */

/* RESEARCH */

#research_body main {
  background-color: var(--white);
  background-image: url("../../img/oceano.png");
  background-size: cover;
  background-repeat: repeat;
}

#here_text {
  padding: 20vh 20vw 10vw 20vw;
  text-align: center;
}

#research_container {
  margin: 0 15vw 0 15vw;
  text-align: justify;
}

.research {
    color: var(--darkblue);
}

.research h1 {
  padding-bottom: 15px;
}

.research h2 {
  padding-bottom: 10px;
}
.research > p {
  line-height: 27px;
}

#btn_research {
  color: var(--white);
  background-color: var(--darkblue);
  border: none;
  border-radius: 25px;
  padding: 8px 18px;
  line-height: center;
  margin-top: 1vh;
  margin-bottom: 10vh;
}

#btn_research:hover {
  opacity: 0.74;
}

/* End RESEARCH*/

/* Publications */

#publications-page main {
  background-color: var(--white);
  background-image: url("../../img/oceano.png");
  background-size: cover;
  background-repeat: repeat;
}

.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  color: var(--darkblue);
  margin-top: 10vh;
  margin-top: 0;
}

.timeline::before {
  background-color: var(--darkblue);
  content: "";
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover > .timeline-event-icon {
  transform: rotate(-45deg);
  background-color: var(--darkblue);
  outline: 5px solid var(--darkblue);}

.timeline-event:hover > .timeline-event-thumbnail {
  box-shadow: inset 40em 0 0 0 var(--darkblue);
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}

.timeline-event-copy > h3 {
  font-size: 1.75em;
}

.timeline-event-copy > h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline-event-copy > h4 > a {
  font-weight: 500;
  color: var(--darkblue);
}

.timeline-event-copy > h4 > a:hover {
  opacity: 0.74;
}

.timeline-event-copy > p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  transition: 0.2s ease-in;
  transform: rotate(45deg);
  background-color: var(--lightblue);
  outline: 5px solid var(--darkblue);
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: -0.5em;
  width: 1em;
  height: 1em;
  margin-left: 0px;
}

.timeline-event-thumbnail {
  box-shadow: inset 0 0 0 0em;
  transition: box-shadow 0.5 ease-in 0.1s;
  color: var(--white);
  font-size: 0.75em;
  background-color: var(--darkblue);
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

@media screen and (max-width: 999px) {
  #here_text {
    padding: 15vh 20vw 10vh 20vw;
  }
}

@media screen and (max-width: 799px) {
  .timeline::before {
    display: none;
  }

  .timeline-event-icon {
    display: none;
  }

  .timeline {
    margin-left: -15vw;
  }
}


/* Teaching */

#teaching_page {
  background-image: url("../../img/textura\ sem\ opacidade.png");
}

#teaching_page main {
  margin-top: 15vh;
  margin-bottom: 25vh;
  text-align: center;
}

.currently_teaching {
  color: var(--white);
  text-align: center;
  padding-bottom: 50px;
}

.courses_container {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.course_cicle {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--white);
}

.course > h4, .course > p {
  color: var(--white);
}

.course > h4 {
  font-size: 1.1em;
  padding-bottom: 15px;
}

.course > p  {
  font-size: 1em;
  padding-bottom: 30px;
}

/* Main page Teaching END */

/* Students */

#students_page {
  background-image: url("../../img/textura\ sem\ opacidade.png");
  text-align: center;
}

#students_page main {
  margin-top: 10vh;
}

.cicle_container > h2{
  color: var(--white);
  padding-bottom: 50px;
  text-align: center;
}

.project_info {
  display: table-cell;
}

.project_info > p > a {
  color: var(--white);
  font-size: 1em;
  font-weight: 700;
}

.project_info > p > a:hover {
  color: var(--lightblue);
}

.project_info > p {
  color: var(--white);
}

/* Students END*/

